{% extends 'wasekPart/base.html' %}
{% load static %}
{% load template_helpers %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/buyer_send_posts.css' %}">
<link rel="stylesheet" href="{% static 'css/buyerrequest.css' %}">
    <script src="{% static 'js/buyerrequest.js' %}" defer></script>

 <!-- buyer request section -->
 <br>
 <div class="container">
   <div class="buyerRequ mb-4">
       <h1>Buyer Posts</h1><br>
       <!-- <div class="order__links">
           <ul class="nav nav-tabs" id="myTab" role="tablist">
               <button class="ordered__btn active__btn active__link nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active" type="button" role="tab" aria-controls="active" aria-selected="true">
                   <li class="nav-item" role="presentation">ACTIVE</li>
               </button>
               <button class="ordered__btn pending__btn">
                   <li>SENT OFFERS</li>
               </button>
               <li class="create__newGig">
                   0 offers  left today
               </li>
           </ul>
       </div> -->
   </div>
 </div>



 



 <div class="container">
   <ul class="nav nav-tabs" id="myTab" role="tablist">
       <li class="nav-item" role="presentation">
         <button class="nav-link" id="active-tab" data-bs-toggle="tab" data-bs-target="#active" type="button" role="tab" aria-controls="active" aria-selected="true">Active Request</button>
       </li>
       <li class="nav-item" role="presentation">
         <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Reserved Request</button>
       </li>
     </ul>
     <div class="tab-content" id="myTabContent">
       <div class="tab-pane fade show active" id="active" role="tabpanel" aria-labelledby="active-tab">
               <div class="table-responsive manage__orderTable">
                   <table class="table table-hover bg-white">
                       <thead>
                        <tr>
                            <th scope="col-2" class="text-muted ps-4">Requested Post</th>
                            <th scope="col" class="text-muted">Seller</th>
                            <th scope="col" class="text-muted">Description</th>
                            <th scope="col" class="text-muted">Duration</th>
                            <th scope="col" class="text-muted">Budget</th>
                            <th scope="col" class="text-muted">Status</th>
                        </tr>                     
                       </thead>
                       <tbody>
                           {% if active_post_requests|length > 0 %}
                               {% for post in active_post_requests %}
                               <tr>
                                   <td class="fw-bold text__details">
                                       {{ post.created_at }}
                                   </td>
                                   <td class="fw-bold text__details">
                                       {{ post.user.username }}
                                   </td>
                                   <td class="fw-bold post__description">
                                       <div>
                                           <h5 class="fw-bold">{{ post.postrequest_title }}</h5>
                                       </div>
                                       <div class="my-2">
                                           <small class="text-muted post__descriptionText">
                                               {{ post.description }}
                                           </small>
                                           <div class="text-primary fw-bold mt-1 post__viewMoreBtn">View More</div>
                                       </div>
                                       <div class="download__postRequests">
                                           <a href="{{ post.attachment.url }}" download="{{ post.attachment.url }}">
                                               {% for item in post.attachment.url|split:"/"|last %}
                                                   {{item}}
                                               {% endfor %}
                                               {% comment %} {{ post.attachment.url }} {% endcomment %}
                                           </a>
                                       </div>
                                   </td>
                                   <td class="fw-bold text__details">
                                       {{ post.delivery_time }}
                                   </td>
                                   <td class="fw-bold text__details">
                                       BDT. {{ post.budget }}৳
                                   </td>
                                   <td class="post__last">
                                       <form method="POST" class="d-flex justify-content-center post__requestsBtns">
                                           {% csrf_token %}
                                           <input type="hidden" value={{ post.id }} name="requested_post" />
                                           <button type="submit">Send Offer</button>
                                       </form>
                                   </td>
                               </tr>
                               {% endfor %}
                           {% else %}
                               <tr>
                                   <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                                   <td class="post__description">You must have active gigs in order to see new buyer requests!</td>   
                                   <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                                   <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                                   <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                                   
                                   <td>
                                    <div class="dropdown">
                                        <a class="btn table__status__dropdown btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                          Active
                                        </a>
                                      
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                          <li><a class="dropdown-item btn-sm" href="#">Reserved</a></li>
                                          <li><a class="dropdown-item btn-sm" href="#">Delete</a></li>
                                        </ul>
                                      </div>
                                   </td>
                               </tr>


                               <tr>
                                <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                                <td class="post__description">You must have active gigs in order to see new buyer requests!</td>   
                                <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                                <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                                <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                                
                                <td>
                                 <div class="dropdown">
                                     <a class="btn table__status__dropdown btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                       Active
                                     </a>
                                   
                                     <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                       <li><a class="dropdown-item btn-sm" href="#">Reserved</a></li>
                                       <li><a class="dropdown-item btn-sm" href="#">Delete</a></li>
                                     </ul>
                                   </div>
                                </td>
                            </tr>
                           {% endif %}
                       </tbody>
                   </table>
               </div>
           </div>

           
       <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
           <div class="table-responsive manage__orderTable">
               <table class="table table-hover bg-white">
                   <thead>
                       <tr>
                           <th scope="col" class="text-muted ps-4">Requested Post</th>
                           <th scope="col" class="text-muted">Seller</th>
                           <th scope="col" class="text-muted">Description</th>
                           <th scope="col" class="text-muted">Duration</th>
                           <th scope="col" class="text-muted">Budget</th>
                           <th scope="col" class="text-muted">Status</th>
                       </tr>                  
                   </thead>
                   <tbody>
                       {% if send_offer_requests|length > 0 %}
                               {% for post in send_offer_requests %}
                               <tr>
                                   <td class="fw-bold text__details">
                                       {{ post.created_at }}
                                   </td>
                                   <td class="fw-bold text__details">
                                       {{ post.buyer }}
                                   </td>
                                   <td class="fw-bold post__description">
                                       <div>
                                           <h5 class="fw-bold">{{ post.buyer_post_request }}</h5>
                                       </div>
                                       <div class="my-2">
                                           <small class="text-muted post__descriptionText">
                                               {{ post.offer_letter }}
                                           </small>
                                           <div class="text-primary fw-bold mt-1 post__viewMoreBtn">View More</div>
                                       </div>
                                   </td>
                                   <td class="fw-bold text__details">
                                       {{ post.delivery_time }}
                                   </td>
                                   <td class="fw-bold text__details">
                                       BDT. {{ post.offered_price }}৳
                                   </td>
                               </tr>
                               {% endfor %}
                           {% else %}
                           <tr>
                            <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                            <td class="post__description">You must have active gigs in order to see new buyer requests!</td>   
                            <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                            <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                            <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                            
                            <td>
                             <div class="dropdown">
                                 <a class="btn table__status__dropdown btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                   Reserved
                                 </a>
                               
                                 <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                   <li><a class="dropdown-item btn-sm" href="#">Active</a></li>
                                   <li><a class="dropdown-item btn-sm" href="#">Delete</a></li>
                                 </ul>
                               </div>
                            </td>
                        </tr>


                        <tr>
                         <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                         <td class="post__description">You must have active gigs in order to see new buyer requests!</td>   
                         <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                         <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                         <td class="post__description">You must have active gigs in order to see new buyer requests!</td>
                         
                         <td>
                          <div class="dropdown">
                              <a class="btn table__status__dropdown btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Reserved
                              </a>
                            
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item btn-sm" href="#">Active</a></li>
                                <li><a class="dropdown-item btn-sm" href="#">Delete</a></li>
                              </ul>
                            </div>
                         </td>
                     </tr>
                           {% endif %}
                   </tbody>
               </table>
           </div>
       </div>
 </div>




{% endblock %}