*{box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'poppins', sans-serif;
}
body {
    background-color: #F7F7F7;
    width: 100%;
}
/* buyer request tab */
.order__links {
    position: relative;
  }

  /* Order link section starts */
.order__links ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0 !important;
    border-bottom: 1px solid #dadbdd;
  }
  
  .order__links ul button {
    padding-right: 1rem;
    color: #9ba2aa;
    font-size: 1.1rem;
    position: relative;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    transition: color 0.3s;
    white-space: nowrap;
  }
  
  .order__links ul button.active__link {
    color: #000;
  }
  
  .order__links ul button:last-child {
    padding-right: 0;
  }
  
  .order__links ul button.active__link li::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-color: #dadbdd;
    border-style: solid;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: calc(50% - 6px);
    bottom: -0.9rem;
    background-color: #f5f5f5;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: transparent;
    border: none;
}

  /* offer left today */
  .create__newGig {
    position: absolute;
    right: 0;
  }
  .priority__order.card {
    border-radius: 0 !important;
}
.gigs__order {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

  
  /* all subcategories button */
  .gigs__order .dropdown button {
    border: 1px solid #bbb;
}
    .gigs__order .dropdown button, .gigs__order .dropdown .dropdown-menu a {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(87, 80, 80);
}

/* table section */
.manage__orderTable thead th {
  text-transform: uppercase;
  font-size: 0.9rem;
  border-bottom: 1px solid #dfdfdf !important;
}
.manage__orderTable tbody td {
  font-size: 0.9rem;
}

.manage__orderTable tbody td:first-child {
  max-width: 20rem;
}


/* footer */
.footer{
  background-color: #272727;
  width: 100%;
  padding-top: 42px;
  padding-bottom: 20px;
}
.topFooter a{
  text-decoration: none;
  color: #fff;
}
.active{
  color: #717171;
}
.topFooter a p:hover{
  color:#7a85eb;
}
.topFooter a i:hover{
  color:#f266e7;
}
.topFooter a p{
  font-size: 13px;
}
.buyerequ___with__dropdown{
    display: flex;
    flex-direction: row !important;
}